.info {
  height: 100%;
  overflow-y: auto;
  
  display: flex;
  flex-direction: column;
  gap: var(--gap-mini);
  
  @media screen and (max-height: 700px) {
    height: fit-content;
    overflow-y: visible;
  }
}

.container {
  @extend .info;
}

.text {
  p {
    font-size: var(--font-size-s);
  }

  @extend .info;
}
