.grid {
  grid-area: 1 / 2 / 6 / 7;
}

.loader {
  border: 4px solid var(--main-color);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid var(--main-color);
  border-left-color: transparent;
  width: 24px;
  height: 24px;
}

.loader {
  border: 4px solid var(--main-color);
  border-left-color: transparent;
  width: 24px;
  height: 24px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.negative {
  border: 4px solid var(--font-color-negative)!important;
  border-left-color: var(--main-color)!important;
}
