.container {
  overflow-y: auto;

  li a,
  li button {
    width: 100%;
    gap: 4px;
    border-radius: 0;
    position: relative;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;

    transition: var(--transition);

    .active_indicator {
      display: none;
    }

    color: var(--font-color-second);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      background-color: var(--main-color-second);
    }

    svg {
      width: 20px;
      height: 20px;
      fill: var(--font-color-second);
    }

    .create {
      display: flex;
      gap: var(--gap);
      text-align: start;
      align-items: center;
    }

    .clamp {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .active {
    .active_indicator {
      display: flex;
      position: absolute;

      left: 0;
      top: 50%;
      transform: translate(0, -50%);

      border-radius: 0 4px 4px 0;

      width: 4px;
      height: 60%;
      background-color: var(--main-color);
    }

    svg {
      fill: var(--main-color);
    }

    a,
    p {
      color: var(--main-color);
      font-weight: 600;
    }
  }
}
