body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;

  font-family: 'Exo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  @media (max-width: 320px) {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  outline: none;
  appearance: none;
  -webkit-appearance: none;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 16px;
    background: var(--main-color-second);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: var(--main-color);
  }
}

input,
textarea {
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--font-color);

  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);

  box-shadow: var(--box-shadow);

  resize: none;

  &:disabled {
    background-color: var(--bg-color-second);
  }
}

p {
  font-family: 'Exo', sans-serif;
}

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &-2 {
    -webkit-line-clamp: 2;
  }

  &-3 {
    -webkit-line-clamp: 3;
  }
}

button,
.btn {
  background-color: var(--main-color);
  border: 1px solid var(--border-colot-main);

  padding: 9px 16px;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  box-shadow: 0px 2px 1px 0px #ffffff33 inset;
  box-shadow: 0px -2px 1px 0px #00000033 inset;

  font-family: 'Exo', sans-serif;
  font-weight: 600;
  font-size: 14px;

  transition: var(--transition);

  color: var(--font-color-negative);
  cursor: pointer;

  svg,
  img {
    height: 24px;
    width: 24px;
    fill: #fff;
  }

  &.--transparent {
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    color: var(--font-color);

    box-shadow: var(--box-shadow);
  }

  &.--default {
    background-color: #ffffff;
    color: var(--font-color);

    svg {
      fill: var(--font-color-second);
    }

    box-shadow: none;
  }

  &.--border {
    border: 1px solid var(--border-color);
  }

  &.--filter {
    background-color: #ffffff;
    color: var(--font-color-second);
    box-shadow: none;
    border: 1px solid var(--border-color);
    font-weight: 500;

    text-wrap: nowrap;

    gap: 4px;

    padding: 6px 10px;

    &.--active {
      background-color: var(--main-color);
      border: 1px solid var(--border-colot-main);
      color: var(--font-color-negative);
    }
  }

  &.--red {
    background-color: var(--red);
    border: 1px solid var(--border-color);
    color: var(--font-color-negative);

    box-shadow: 0px 2px 1px 0px #ffffff33 inset;
    box-shadow: 0px -2px 1px 0px #00000033 inset;
  }

  &:disabled {
    background-color: var(--main-color-second);
  }

  &:active {
    scale: 0.99;
  }
}

a {
  color: var(--main-color);
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  font-weight: 600;
}

.decoration-none {
  text-decoration: none;
}

b {
  font-size: 16px;
  font-weight: 700;

  &.--big {
    font-size: 20px;
  }
}

span {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: var(--font-color-second);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--border-color);
  padding: 0;
}

.indicator {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  background-color: var(--main-color-second);
  padding: 2px 8px;
  border-radius: 40px;
  min-width: 23px;
  width: fit-content;
  font-weight: 600;
  color: var(--main-color);
  font-size: 12px;

  svg {
    width: 15px;
    height: 15px;
    fill: var(--main-color);
  }

  &.-red {
    background-color: var(--red-second);
    color: var(--red);

    svg {
      fill: var(--red);
    }
  }

  &.-blue {
    background-color: var(--blue-second);
    color: var(--blue);

    svg {
      fill: var(--blue);
    }
  }

  &.-filter {
    background-color: var(--bg-color-second);

    &.-active {
      background-color: var(--border-color-main);
      color: var(--font-color-negative);
    }
  }

  &.-border {
    background-color: var(--bg-color-second);
    border: 1px solid var(--border-color);
    color: var(--font-color-second);

    svg {
      fill: var(--font-color-second);
    }
  }

  @extend .flex-center;
}

.grow {
  flex-grow: 1;

  &-2 {
    flex-grow: 2;
  }
}

.hr-container {
  position: relative;

  p {
    background-color: var(--bg-color);
    padding: 0 8px;

    left: calc(50% - 16px);
    top: calc(-50% + 1px);
    transform: translate(calc(50% - 16px), calc(-50% + 1px));

    position: absolute;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;

    color: var(--font-color-second);
  }
}

h1,
h2,
h3 {
  font-family: Exo;
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

li {
  list-style-type: none;
}

.p {
  &-0 {
    padding: 0;
  }
}

.weight {
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
}

.nowrap {
  text-wrap: nowrap;
}

.mb {
  &-8 {
    margin-bottom: 8px;
  }

  &-16 {
    margin-bottom: 16px;
  }
}

.mt {
  &-8 {
    margin-top: 8px;
  }

  &-16 {
    margin-top: 16px;
  }
}

.text {
  &-12 {
    font-size: 12px;
  }

  &-14 {
    font-size: 14px;
  }

  &-16 {
    font-size: 16px;
  }

  &-h1 {
    font-size: 32px;
  }

  &-secondary {
    color: var(--font-color-second);
  }
}

.flex {
  display: flex;

  &-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-between {
    display: flex;
    justify-content: space-between;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap {
  gap: 16px;

  &-big {
    gap: 40px;
  }

  &-mid {
    gap: 24px;
  }

  &-8 {
    gap: 8px;
  }

  &-mini {
    gap: 4px;
  }
}

.app-container {
  width: 100vw;
  max-width: 100vw;

  height: 100vh;
  min-height: 100vh;

  &.--header {
    padding-top: 70px;
  }
}

.main-color-bg {
  background-color: var(--main-color);
}

.z {
  &--1 {
    z-index: -1;
  }
  &-0 {
    z-index: 0;
  }

  &-10 {
    z-index: 10;
  }
}
.top {
  &-0 {
    top: 0;
  }

  &-16 {
    top: 16px;
  }

  &-32 {
    top: 32px;
  }
}

.wrap {
  flex-wrap: wrap;
}

.left {
  &-0 {
    left: 0;
  }

  &-16 {
    left: 16px;
  }

  &-32 {
    left: 32px;
  }
}

.h {
  &-full {
    height: 100%;
  }
  &-content {
    height: fit-content;
  }
}

.w {
  &-4 {
    width: 4px;
    height: 4px;
  }

  &-m {
    width: 50%;
  }

  &-full {
    width: 100%;
  }

  &-content {
    width: fit-content !important;
  }
}

.rounded {
  border-radius: 50%;

  &-16 {
    border-radius: 16px;
  }

  &-8 {
    border-radius: 8px;
  }
}

.square {
  width: 32px;
  height: 32px;
}

.main-color {
  fill: var(--main-color);
  color: var(--main-color);
}

.app-header {
  position: fixed;
  background: #fff;
  height: 70px;
  width: 100vw;
  top: 0;
  z-index: 20;
  border-bottom: 1px solid var(--border-color);

  padding-right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: var(--font-color);
  }

  &__logo {
    padding: 16px 32px;
    @extend .flex-center;
    gap: 16px;
  }

  &__actions {
    height: 100%;
    @extend .flex-center;

    a {
      color: var(--font-color-second);
      font-weight: 500;
    }

    ul {
      display: flex;
      gap: 16px;
      padding-right: 40px;
    }

    &--profile {
      gap: 16px;
      padding-right: 16px;
      @extend .flex-center;
    }

    &--user {
      @extend .flex-center;
      gap: 4px;

      img {
        width: 38px;
        height: 38px;
        object-fit: cover;
        border-radius: 50%;
      }

      &--info {
        display: flex;
        flex-direction: column;

        b {
          font-size: 14px;
        }

        &.--status {
          color: var(--main-color);
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    &--border {
      height: 100%;
      border-right: 1px solid var(--border-color);
    }

    &--menu {
      @extend .flex-center;
      height: 100%;
      width: 70px;
    }
  }
}
