.account-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);

  height: 100%;
  width: 100%;
  max-height: 100vh;

  overflow: hidden;

  @media (max-width: 1200px) {
    display: flex;
  }

  @media (max-width: 768px) {
    overflow-y: auto;
    height: 100%;
  }

  &--menu {
    grid-area: 1 / 1 / 6 / 2;
    padding-top: 24px;
    border-right: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
      min-width: 20px;
      width: 20px;
      min-height: 20px;
      height: 20px;
      fill: var(--font-color-second);
    }

    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }

    ul {
      overflow-y: auto;

      li a,
      li button {
        gap: 4px;
        border-radius: 0;
        position: relative;
        padding: 16px 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: transparent;

        transition: var(--transition);

        .active-indicator {
          display: none;
        }

        color: var(--font-color-second);
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          background-color: var(--main-color-second);
        }

        svg {
          width: 20px;
          height: 20px;
          fill: var(--font-color-second);
        }
      }

      .-active {
        .active-indicator {
          display: flex;
          position: absolute;

          left: 0;
          top: 50%;
          transform: translate(0, -50%);

          border-radius: 0 4px 4px 0;

          width: 4px;
          height: 60%;
          background-color: var(--main-color);
        }

        svg {
          fill: var(--main-color);
        }

        a,
        p {
          color: var(--main-color);
          font-weight: 600;
        }
      }
    }

    &__end {
      padding-top: 16px;
      margin-top: auto;
    }

    &__support {
      width: 100%;

      &.-item {
        width: 90%;
        border: 1px solid var(--border-color);
        padding: 16px;
        border-radius: 16px;
        background-color: var(--bg-color-second);
      }
    }

    &__logout {
      display: flex;
      justify-content: flex-start;
      gap: var(--gap);
      border-radius: 0;

      padding: 16px 32px;
      transition: var(--transition);

      &:hover {
        background-color: var(--main-color-second);
      }

      &:active {
        scale: 1;
      }
    }
  }

  &--dashboard {
    grid-area: 1 / 2 / 6 / 7;
    padding: 16px 32px;

    @media (max-width: 768px) {
      overflow-y: auto;
      height: 100%;
    }

    &.-total {
      padding: 16px 32px;
      width: 100%;
      background-color: var(--bg-color-second);
      gap: 8px;

      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
      }

      @media (max-width: 580px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
      }
    }

    &.-charts {
      overflow-y: auto;
      overflow-x: hidden;

      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      grid-gap: calc(var(--gap) * 2);

      max-height: fit-content;

      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;

        padding: 0;
      }
    }

    .chart {
      canvas {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.contact-us__modal {
  min-width: 280px;
  width: fit-content;

  &__send {
    max-width: 448px;
    img {
      width: 100px;
    }
  }
}

.users-container {
  grid-area: 1 / 2 / 6 / 7;

  &-filters {
    overflow-x: auto;
    padding: 16px 32px;
    border-bottom: 1px solid var(--border-color);
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &-list {
    overflow-y: auto;

    .item {
      padding-right: 32px;
      transition: var(--transition);
      border-bottom: 1px solid var(--border-color);

      &-link {
        padding: 16px 0;
        padding-left: 32px;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 0;
        &:active {
          scale: 1;
        }
      }

      &:hover {
        button {
          background-color: var(--bg-color-second);
        }

        background-color: var(--bg-color-second);
      }
    }

    .active {
      button {
        background-color: var(--bg-color-second);
        b {
          color: var(--main-color);
        }
      }

      background-color: var(--bg-color-second);
      border-right: 3px solid var(--main-color);
    }
  }

  &.-user {
    padding: 32px;
    border-left: 1px solid var(--border-color);

    max-height: 100%;
    overflow: hidden;

    .info {
      img {
        object-fit: cover;
        width: 80px;
        height: 80px;
      }
    }

    .pages {
      height: 100%;
      overflow: hidden;

      ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &-header {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);

        button {
          color: var(--font-color-second);
          border-radius: 0;

          svg {
            width: 20px;
          }

          &:active {
            scale: 1;
          }
        }

        .active {
          background-color: var(--main-color-second);
          color: var(--main-color);
          svg {
            fill: var(--main-color);
          }
        }
      }

      &-chat {
        height: 100%;
        overflow: auto;

        &-messages {
          flex: 1;
          overflow-y: auto;
        }

        &-message {
          padding: 8px 12px;
          background-color: var(--bg-color-second);
          max-width: 55%;
          margin-left: auto;
          border-radius: 8px;

          &-read {
            margin-left: auto;
            color: #bcbdcd;
          }

          &.-he {
            margin-left: 0;
            margin-right: auto;
          }
        }
      }

      &-about {
        height: 100%;
        overflow-y: auto;

        &-labels {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }

        &-info {
          height: 100%;
          overflow-y: auto;
        }

        &-actions {
          margin-left: auto;
        }
      }

      &-analitics {
        padding-right: 4px;

        overflow-y: auto;
        overflow-x: hidden;

        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-gap: calc(var(--gap) * 2);
      }

      &-active-order {
        padding-right: 4px;

        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }

  &.--users-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    &.-first {
      grid-area: 1 / 1 / 6 / 3;
    }

    &.-user {
      grid-area: 1 / 3 / 6 / 6;
    }
  }
}

.profile {
  grid-area: 1 / 2 / 6 / 7;

  &-padding {
    padding: 32px 32px 16px;
  }

  &-pages {
    padding: 0 32px;

    button {
      font-weight: 500;
      border-radius: 0;
      color: var(--font-color-second);
    }

    .active {
      button {
        color: var(--font-color);
      }

      .activeHolder {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);

        height: 3px;
        width: 70%;
        border-radius: 4px 4px 0 0;
        background-color: var(--main-color);
      }
    }
  }

  &-img {
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border: 1px solid var(--border-color);
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    overflow-y: hidden;
    height: 100%;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    ::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &-first {
      grid-area: 1 / 1 / 2 / 2;
      height: 100%;
      border-right: 1px solid var(--border-color);
      overflow-y: auto;

      @media screen and (max-width: 768px) {
        overflow-y: unset;
        height: fit-content;
      }

      &-overflow {
        overflow-y: auto;

        @media screen and (max-width: 768px) {
          height: fit-content;
          overflow-y: unset;
        }

        textarea {
          flex-shrink: 0;
        }
      }
    }

    &-second {
      grid-area: 1 / 2 / 2 / 3;

      @media screen and (max-width: 768px) {
        height: fit-content;
      }

      svg {
        width: 70px;
        height: 70px;
        fill: var(--main-color);
      }
    }
  }

  &-orders {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      overflow-y: auto;
    }

    @media screen and (max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
      overflow-y: auto;
    }

    &-active {
      padding: 16px 32px;
    }
  }
}

.settings {
  grid-area: 1 / 2 / 6 / 7;
  padding: 32px;

  form {
    max-width: 420px;

    button {
      width: fit-content;
    }
  }
}

.applications {
  grid-area: 1 / 2 / 6 / 7;

  &-padding {
    padding: 32px 16px;
  }

  &-list {
    padding: 32px 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &-item {
    overflow: hidden;
    padding: 16px;
    border: 1px solid var(--border-color);

    max-height: 220px;
  }

  &-modal {
    max-width: 420px !important;
    overflow: hidden;

    &-content {
      padding-right: 16px;
      overflow-y: auto;
      max-width: 420px !important;
    }
  }
}

.user-edit-modal {
  width: 440px;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  form {
    height: 100%;
    overflow: auto;
  }

  &-roles {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    button {
      flex-grow: 1;
      border-radius: 0;

      &:active {
        scale: 1;
      }
    }

    &-active {
      background-color: var(--main-color-second) !important;
      color: var(--main-color) !important;
    }
  }
}

.order-container {
  grid-area: 1 / 2 / 6 / 7;

  height: 100%;

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__padding {
    padding: 32px;

    &-header {
      padding: 16px 32px;
    }

    &-actions {
      margin: 8px 32px;
    }
  }

  &.-order {
    border-left: 1px solid var(--border-color);

    max-height: 100%;
    overflow: hidden;

    height: 100%;

    @media (max-width: 950px) {
      display: flex;
      overflow-y: scroll;
    }
  }

  &--map {
    min-height: 100%;
  }

  &-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      height: fit-content;
    }
  }

  &__active-order {
    padding-right: 32px;

    overflow-y: auto;
    overflow-x: hidden;

    border-right: 1px solid var(--border-color);

    @media (max-width: 550px) {
      overflow-y: unset;
      flex-direction: column;
      height: fit-content;
    }
  }

  &__modal {
    width: 100%;
    height: 100%;

    &-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;

      &-drivers {
        overflow-y: auto;
      }
    }
  }
}

.mini-driver {
  padding: 4px 16px;
  border-bottom: 1px solid var(--border-color);
  margin-right: 4px;

  border-radius: 0;

  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
}

.mini-driver-active {
  background-color: var(--main-color-second) !important;
  color: var(--main-color);
}

.create-order {
  grid-area: 1 / 2 / 6 / 7;

  overflow-y: hidden;
  height: 100%;

  textarea {
    flex-shrink: 0;
  }

  &__svg {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__padding {
    padding: 16px 32px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    overflow-y: hidden;
    height: 100%;

    &--first {
      grid-area: 1 / 1 / 2 / 2;
      overflow-y: auto;
      height: 100%;
    }

    &--second {
      overflow: auto;
      height: 100%;
      grid-area: 1 / 2 / 2 / 3;
    }
  }
}
