.hidden {
  &-1200 {
    @media (max-width: 1200px) {
      display: none;
    }
  }
}

.media-flex-col {
  &-center-768 {
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
  
  &-768 {
    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
  }
}

.media-full {
  &-1200 {
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}

.media-gap {
  &-768 {
    @media (max-width: 768px) {
      gap: 8px;
    }
  }
}

.media-direction {
  &-768 {
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 0;
    }
  }
}

.media-center {
  &-768 {
    @media (max-width: 768px) {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
}
