.not-found {
  max-width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__img {
    max-height: 55vh;
    max-width: 70vw;
    object-fit: cover;
  }

  &__content {
    width: 450px;
    max-width: 450px;
  }

  &__text {
    max-width: 380px;
  }
}
