@import 'common';
@import 'auth';
@import 'dashboard';
@import 'notFound';
@import 'modal';

:root {
  --bg-color: #ffffff;
  --bg-color-second: #f9fafc;
  --bg-color-modal: #12121c80;

  --main-color: #137547;
  --main-color-second: #e2edea;

  --border-color: #eaeaea;
  --border-color-main: #0f5e39;

  --font-color: #12121c;
  --font-color-second: #5f6078;
  --font-color-light: #BCBDCD;
  --font-color-negative: #ffffff;

  --box-shadow: 0px 1px 2px 0px #0000000d;

  --red: #e42717;
  --red-second: #e328161a;

  --blue: #291cdf;
  --blue-second: #291cdf1a;

  --transition: 0.5s;
  --gap: 8px;
}
