.container {
  background-color: var(--main-color);
  border: 1px solid var(--border-colot-main);

  padding: 9px 16px;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  box-shadow: 0px 2px 1px 0px #ffffff33 inset;
  box-shadow: 0px -2px 1px 0px #00000033 inset;

  transition: var(--transition);

  color: var(--font-color-negative);
  font-family: 'Exo', sans-serif;
  font-weight: 600;
  font-size: 14px;

  cursor: pointer;

  svg,
  img {
    height: 20px;
    width: 20px;
    fill: #fff;
  }

  &:disabled {
    background-color: var(--main-color-second);
  }

  &:active {
    scale: 0.99;
  }
}

.transparent {
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  color: var(--font-color);

  box-shadow: var(--box-shadow);

  svg,
  img {
    fill: var(--font-color);
  }
}

.default {
  background-color: #ffffff;
  color: var(--font-color);

  svg {
    fill: var(--font-color-second);
  }

  box-shadow: none;
}

.border {
  border: 1px solid var(--border-color);
}

.filter {
  background-color: #ffffff;
  color: var(--font-color-second);
  box-shadow: none;
  border: 1px solid var(--border-color);
  font-weight: 500;

  text-wrap: nowrap;

  gap: 4px;

  padding: 6px 10px;
}

.filter_active {
  background-color: var(--main-color);
  border: 1px solid var(--border-colot-main);
  color: var(--font-color-negative);
}

.red {
  background-color: var(--red);
  border: 1px solid var(--border-color);
  color: var(--font-color-negative);

  box-shadow: 0px 2px 1px 0px #ffffff33 inset;
  box-shadow: 0px -2px 1px 0px #00000033 inset;
}
