.uppercase {
  text-transform: uppercase;
}

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.clamp1 {
  -webkit-line-clamp: 1;
}

.clamp2 {
  -webkit-line-clamp: 2;
}

.clamp5 {
  -webkit-line-clamp: 5;
}
