.container {
  grid-area: 1 / 2 / 6 / 7;

  overflow-y: hidden;
  
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  &__grid {
    display: flex;

    @media screen and (max-width: 1020px) {
      .list {
        display: none !important;
      }
    }
  }
}
