.container {
  padding-right: 4px;

  margin-top: 16px;

  overflow-y: auto;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: calc(var(--gap) * 2);

  @media screen and (max-width: 550px) {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}
