@use 'src/scss/button';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  gap: var(--gap-xl);

  .header {
    display: flex;
    align-items: center;
    position: relative;

    .back {
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      padding: 0;
    }

    .text {
      text-align: center;
      width: 100%;
    }
  }

  .content {
    overflow-y: auto;
    height: 100%;

    display: flex;
    justify-content: space-between;
    gap: var(--gap-xl);

    .info {
      height: fit-content;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;

      @extend .button;
      @extend .transparent;
    }

    .card {
      display: flex;
      flex-direction: column;

      .headerText {
        font-size: var(--font-size-xs);
        color: var(--font-color-second);
      }

      .mainText {
        font-size: var(--font-size-s);
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
